<div class="holder">
    <div class="left-div">
        <img src="static\pllayraterPNG.png" alt="Playrater Logo" class="playrater-logo">
        <div class="login-structure">
            <h1>Login to join PlayRater</h1>
            <a href="">
                <div class="login-div">
                    <i class="bi bi-spotify"></i>Login with Spotify
                </div>
            </a>
        </div>
    </div>
    <div class="right-div">
        <div class="albums-holder">
            <app-deco-card albumName="Album" artist="Alok" releaseDate="2014"
                src="static\David_Guetta_-_Nothing_but_the_Beat.png" numberOfStars="5"></app-deco-card>
            <app-deco-card albumName="Album" artist="Alok" releaseDate="2014" src="" numberOfStars="5"></app-deco-card>
            <app-deco-card albumName="Album" artist="Alok" releaseDate="2014" src="" numberOfStars="5"></app-deco-card>
            <app-deco-card albumName="Album" artist="Alok" releaseDate="2014" src="" numberOfStars="5"></app-deco-card>
            <app-deco-card albumName="Album" artist="Alok" releaseDate="2014" src="" numberOfStars="5"></app-deco-card>
            <app-deco-card albumName="Album" artist="Alok" releaseDate="2014" src="" numberOfStars="5"></app-deco-card>
            <app-deco-card albumName="Album" artist="Alok" releaseDate="2014" src="" numberOfStars="5"></app-deco-card>
            <app-deco-card albumName="Album" artist="Alok" releaseDate="2014" src="" numberOfStars="5"></app-deco-card>
            <app-deco-card albumName="Album" artist="Alok" releaseDate="2014" src="" numberOfStars="5"></app-deco-card>
        </div>
    </div>
</div>