<div class="mainframe">
    <h1>Was music really shareable before...?</h1>

</div>

<div class="explanation-div">

    <div class="ratings-holder">
        <h1 class="explanation-text" style="color: white;">Rate your music taste!</h1>
        <div class="cards-holder">
            <div class="card">
                <img [src]="imageUrl" class="album-cover">
                <div class="album-data-holder">
                    <p style="font-size: 1.5rem;"><i class="bi bi-star-fill" style="color: rgb(255, 174, 0);"></i> 5</p>
                    <p class="album-name">Nothing but the beat</p>
                    <p class="album-name">2012</p>
                    <p>David Guetta</p>
                </div>
            </div>
            <div class="card">
                <img [src]="imageUrl" class="album-cover">
                <div class="album-data-holder">
                    <p style="font-size: 1.5rem;"><i class="bi bi-star-fill" style="color: rgb(255, 174, 0);"></i> 5</p>
                    <p class="album-name">Nothing but the beat</p>
                    <p class="album-name">2012</p>
                    <p>David Guetta</p>
                </div>
            </div>
            <div class="card">
                <img [src]="imageUrl" class="album-cover">
                <div class="album-data-holder">
                    <p style="font-size: 1.5rem;"><i class="bi bi-star-fill" style="color: rgb(255, 174, 0);"></i> 5</p>
                    <p class="album-name">Nothing but the beat</p>
                    <p class="album-name">2012</p>
                    <p>David Guetta</p>
                </div>
            </div>
            <div class="card">
                <img [src]="imageUrl" class="album-cover">
                <div class="album-data-holder">
                    <p style="font-size: 1.5rem;"><i class="bi bi-star-fill" style="color: rgb(255, 174, 0);"></i> 5</p>
                    <p class="album-name">Nothing but the beat</p>
                    <p class="album-name">2012</p>
                    <p>David Guetta</p>
                </div>
            </div>
            <div class="card">
                <img [src]="imageUrl" class="album-cover">
                <div class="album-data-holder">
                    <p style="font-size: 1.5rem;"><i class="bi bi-star-fill" style="color: rgb(255, 174, 0);"></i> 5</p>
                    <p class="album-name">Nothing but the beat</p>
                    <p class="album-name">2012</p>
                    <p>David Guetta</p>
                </div>
            </div>
            <div class="card">
                <img [src]="imageUrl" class="album-cover">
                <div class="album-data-holder">
                    <p style="font-size: 1.5rem;"><i class="bi bi-star-fill" style="color: rgb(255, 174, 0);"></i> 5</p>
                    <p class="album-name">Nothing but the beat</p>
                    <p class="album-name">2012</p>
                    <p>David Guetta</p>
                </div>
            </div>
            <div class="card">
                <img [src]="imageUrl" class="album-cover">
                <div class="album-data-holder">
                    <p style="font-size: 1.5rem;"><i class="bi bi-star-fill" style="color: rgb(255, 174, 0);"></i> 5</p>
                    <p class="album-name">Nothing but the beat</p>
                    <p class="album-name">2012</p>
                    <p>David Guetta</p>
                </div>
            </div>
            <div class="card">
                <img [src]="imageUrl" class="album-cover">
                <div class="album-data-holder">
                    <p style="font-size: 1.5rem;"><i class="bi bi-star-fill" style="color: rgb(255, 174, 0);"></i> 5</p>
                    <p class="album-name">Nothing but the beat</p>
                    <p class="album-name">2012</p>
                    <p>David Guetta</p>
                </div>
            </div>
            <div class="card">
                <img [src]="imageUrl" class="album-cover">
                <div class="album-data-holder">
                    <p style="font-size: 1.5rem;"><i class="bi bi-star-fill" style="color: rgb(255, 174, 0);"></i> 5</p>
                    <p class="album-name">Nothing but the beat</p>
                    <p class="album-name">2012</p>
                    <p>David Guetta</p>
                </div>
            </div>
            <div class="card">
                <img [src]="imageUrl" class="album-cover">
                <div class="album-data-holder">
                    <p style="font-size: 1.5rem;"><i class="bi bi-star-fill" style="color: rgb(255, 174, 0);"></i> 5</p>
                    <p class="album-name">Nothing but the beat</p>
                    <p class="album-name">2012</p>
                    <p>David Guetta</p>
                </div>
            </div>
            <div class="card">
                <img [src]="imageUrl" class="album-cover">
                <div class="album-data-holder">
                    <p style="font-size: 1.5rem;"><i class="bi bi-star-fill" style="color: rgb(255, 174, 0);"></i> 5</p>
                    <p class="album-name">Nothing but the beat</p>
                    <p class="album-name">2012</p>
                    <p>David Guetta</p>
                </div>
            </div>
            <div class="card">
                <img [src]="imageUrl" class="album-cover">
                <div class="album-data-holder">
                    <p style="font-size: 1.5rem;"><i class="bi bi-star-fill" style="color: rgb(255, 174, 0);"></i> 5</p>
                    <p class="album-name">Nothing but the beat</p>
                    <p class="album-name">2012</p>
                    <p>David Guetta</p>
                </div>
            </div>
        </div>
        
        
    </div>

    <hr>

    <div class="ratings-holder" style="padding-right: 4rem; height: 40vh;">
        <i class="bi bi-spotify" style="font-size: 25rem; margin-top: 15rem; rotate: 20deg; color: white;"></i>
        <p style="color: white; font-size: 2rem;">...as we consume Spotify´s API here</p>
    </div>

    <hr>

    <div class="ratings-holder" style="padding-right: 4rem; height: 40vh;">
        <p style="color: white; font-size: 2rem;">Share your ratings!</p>
        

    </div>

</div>