<div class="mainframe">
    <h1>Was music really shareable before...?</h1>
</div>

<div class="explanation-div">
    <div class="explanation-holder">
        <i class="bi bi-spotify" style="color: rgb(0, 68, 255);"></i>
        <p>Integrated with Spotify's API</p>
    </div>
    <div class="explanation-holder" id="explanation-holder-right">
        <p>Developed using Spring Boot</p>
        <i class="bi bi-filetype-java" style="color: rgb(0, 68, 255);"></i>
    </div>
    <div class="explanation-holder">
        <i class="bi bi-filetype-tsx" style="color: rgb(0, 68, 255);"></i>
        <p>...and Angular</p>
    </div>
    <div class="explanation-holder" id="explanation-holder-right">
        <p>PostgreSQL as Database</p>
        <i class="bi bi-database-fill-lock" style="color: rgb(0, 68, 255);"></i>
    </div>

    <hr>

    <h1><i class="bi bi-play-fill" style="color: rgb(0, 68, 255);"></i>Rate your plays</h1>

</div>