<div class="mainframe">
    <h1>Was music really shareable before...?</h1>

</div>

<div class="explanation-div">

    <div class="ratings-holder">
        <h1 class="explanation-text" style="color: white;">Rate your music taste!</h1>
        <div class="cards-holder">
            <app-deco-card src="static/David_Guetta_-_Nothing_but_the_Beat.png" albumName="Nothing But The Beat"
                releaseDate="2012" artist="David Guetta" numberOfStars="5"></app-deco-card>
            <app-deco-card src="static/David_Guetta_-_Nothing_but_the_Beat.png" albumName="Nothing But The Beat"
                releaseDate="2012" artist="David Guetta" numberOfStars="3.5"></app-deco-card>
            <app-deco-card src="static/David_Guetta_-_Nothing_but_the_Beat.png" albumName="Nothing But The Beat"
                releaseDate="2012" artist="David Guetta" numberOfStars="2"></app-deco-card>
            <app-deco-card src="static/David_Guetta_-_Nothing_but_the_Beat.png" albumName="Nothing But The Beat"
                releaseDate="2012" artist="David Guetta" numberOfStars="4"></app-deco-card>
            <app-deco-card src="static/David_Guetta_-_Nothing_but_the_Beat.png" albumName="Nothing But The Beat"
                releaseDate="2012" artist="David Guetta" numberOfStars="4.7"></app-deco-card>
            <app-deco-card src="static/David_Guetta_-_Nothing_but_the_Beat.png" albumName="Nothing But The Beat"
                releaseDate="2012" artist="David Guetta" numberOfStars="5"></app-deco-card>
            <app-deco-card src="static/David_Guetta_-_Nothing_but_the_Beat.png" albumName="Nothing But The Beat"
                releaseDate="2012" artist="David Guetta" numberOfStars="4.5"></app-deco-card>
            <app-deco-card src="static/David_Guetta_-_Nothing_but_the_Beat.png" albumName="Nothing But The Beat"
                releaseDate="2012" artist="David Guetta" numberOfStars="5"></app-deco-card>
            <app-deco-card src="static/David_Guetta_-_Nothing_but_the_Beat.png" albumName="Nothing But The Beat"
                releaseDate="2012" artist="David Guetta" numberOfStars="2.1"></app-deco-card>
            <app-deco-card src="static/David_Guetta_-_Nothing_but_the_Beat.png" albumName="Nothing But The Beat"
                releaseDate="2012" artist="David Guetta" numberOfStars="3"></app-deco-card>
            <app-deco-card src="static/David_Guetta_-_Nothing_but_the_Beat.png" albumName="Nothing But The Beat"
                releaseDate="2012" artist="David Guetta" numberOfStars="5"></app-deco-card>
            <app-deco-card src="static/David_Guetta_-_Nothing_but_the_Beat.png" albumName="Nothing But The Beat"
                releaseDate="2012" artist="David Guetta" numberOfStars="5"></app-deco-card>

        </div>


    </div>

    <hr>

    <div class="ratings-holder" style="padding-right: 4rem; height: 40vh;">
        <i class="bi bi-spotify" style="font-size: 25rem; margin-top: 15rem; rotate: 20deg; color: white;"></i>
        <p style="color: white; font-size: 2rem;">...as we consume Spotify´s API here</p>
    </div>

    <hr>

    <div class="ratings-holder" style="padding-right: 4rem; height: 40vh;">
        <p style="color: white; font-size: 2rem;">Share your ratings!</p>


    </div>

</div>