.mainframe{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background: linear-gradient(45deg, rgb(0, 68, 255), rgb(0, 34, 150), rgb(0, 102, 255));
    background-size: 300% 300%;
    animation: gradientAnimation 5s infinite alternate;
    height: 100vh;
    color: white;
}

@keyframes gradientAnimation {
    0% {
        background-position: 0% 50%;
    }
    100% {
        background-position: 100% 50%;
    }
}

.explanation-div{
    display: flex;
    flex-direction: column;
    padding: 2rem;
    gap: 3rem;
}

.explanation-holder{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
    font-size: 2rem;
    width: 100%;
    justify-content: left;
}

#explanation-holder-right{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
    font-size: 2rem;
    justify-content: right !important;
}


